* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    font-size: 24px;
}

#hamburger {
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 10px;
    right: 20px;
}
.responsive-image {
    max-width: 50%;
    height: auto;
    border-radius: 10px; /* Optional: fügt abgerundete Ecken hinzu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: fügt einen Schatten hinzu */
}

.menu {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    animation: slideIn 1.5s ease-out;
}

.menu.active {
    display: flex;
}

.menu-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-options button {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.menu-options button:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

footer p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .menu-options {
        gap: 10px;
    }

    .content {
        font-size: 18px;
    }
}
.page-transition {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.page-transition.active {
    opacity: 1;
}

